TG_BOT_TOKEN=
APP_ID=
API_HASH=
CHANNEL_ID=
OWNER=
PROTECT_CONTENT=False
HEROKU_APP_NAME=
HEROKU_API_KEY=
UPSTREAM_BRANCH=master
DATABASE_URL=
TG_BOT_WORKERS=4
START_MESSAGE=
ADMINS=
FORCE_SUB_MESSAGE=
CUSTOM_CAPTION=
DISABLE_CHANNEL_BUTTON=False
